
@import "../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000;

$body-color: #111;

$theme-colors: (
    "primary": #0074d9,
    "custom-color": #990000,
);

@import "../node_modules/bootstrap/scss/bootstrap";
